<template>
    <div class="DaftarPengunjung">
        <Header />
        <Sidebar />
        <div class="content" style="margin-top:80px;margin-right:-40px;">
            <center><p class="h1"><strong>Daftar Pengunjung Pasien</strong></p></center>
              {{ info }}
              as
            <b-container fluid>
                <b-row>
                     <b-col lg="7"></b-col>
                     <b-col lg="2">
                        <label>Nama Pasien:</label>
                        <b-form-input v-model="nama" type="text" placeholder=""></b-form-input>
                     </b-col>
                     <b-col lg="2">
                         <label>Ruangan:</label>
                        <b-form-select v-model="ruangan_selected" :options="ruangan_options"></b-form-select>
                     </b-col>
                     <b-col lg="1">
                         <b-button href="" class="button" variant="primary" style="margin-top:30px;"><i class="fas fa-search"></i></b-button>
                         </b-col>
                </b-row>
            </b-container>
            <GridSelect />
            <div class='buttons-group'>
            <b-container fluid>
                <b-row>
                    <b-col lg="2">
                        <b-button href="" class="button" variant="primary">Cetak No Antrian</b-button>
                    </b-col>
                    <b-col lg="2">
                        <b-button href="" class="button" variant="primary">Cetak Kartu</b-button>
                    </b-col>
                    <b-col lg="2">
                        <b-button href="" class="button" variant="primary">Cetak RMK</b-button>
                    </b-col>
                    <b-col lg="2">
                        <b-button href="" class="button" variant="primary">Cetak Label</b-button>
                    </b-col>
                    <b-col lg="2">
                        <b-button href="" class="button" variant="primary">Input Tindakan</b-button>
                    </b-col>
                    <b-col lg="2">
                        <b-button href="" class="button" variant="primary">Edit Registrasi</b-button>
                    </b-col>
                </b-row>
                <br>
                <b-row>
                    <b-col lg="2">
                        <b-button href="" class="button" variant="primary">Ubah Asuransi</b-button>
                    </b-col>
                    <b-col lg="2">
                        <b-button href="" class="button" variant="primary">Ganti Dokter</b-button>
                    </b-col>
                    <b-col lg="2">
                        <b-button href="/detail-pasien" class="button" variant="primary">Input Diagnosa</b-button>
                    </b-col>
                    <b-col lg="2">
                        <b-button href="" class="button" variant="primary">Batal Periksa</b-button>
                    </b-col>
                    <b-col lg="2">
                        <b-button href="" class="button" variant="primary">Rincian Tagihan Pasien</b-button>
                    </b-col>
                    <b-col lg="2">
                    </b-col>
                </b-row>
            </b-container>
            </div>
        </div>
    </div>
</template>

<script src="./Daftar_Pengunjung.js"></script>
<style>
.buttons-group{
    margin-top: 20px;
}
.button{
    width:100%;
}
</style>