<template>
    <div class="DetailPasien">
        <Header />
        <Sidebar />
        <div class="content" style="margin-top:80px;margin-right:-40px;">
            <center><h2>Detail Pasien</h2></center>
        </div>
    </div>
</template>

<script src="./Detail_Pasien.js"></script>
<style>
.buttons-group{
    margin-top: 20px;
}
.button{
    width:100%;
}
</style>