<template>
    <div class="registrasi">
        <Header />
        <Sidebar />
        <div class="content" style="margin-top:80px;margin-right:-40px;">
            <center><p class="h1"><strong>Registrasi Pasien</strong></p></center>
            <b-card bg-variant="light">
               <b-container fluid>
                <b-row>
                    <h3>Demografi:</h3>
                </b-row>
                <b-row>
                    <b-col lg="2">
                        <b-img thumbnail fluid src="https://picsum.photos/250/250/?image=54" alt="Responsive image"></b-img>
                    </b-col>
                    <b-col lg="10">
                       <b-row>
                           <b-col lg="2">
                                <label>NIK:</label>
                                <b-form-input v-model="nik" type="number" placeholder=""></b-form-input>
                            </b-col>
                            <b-col lg="4">
                                <label>Nama:</label>
                                <b-form-input v-model="nama" type="text" placeholder=""></b-form-input>
                            </b-col>
                            <b-col lg="2">
                                <label>Tempat Lahir:</label>
                                <b-form-input v-model="tempatlahir" type="text" placeholder=""></b-form-input>
                            </b-col>
                            <b-col lg="2">
                                <label>Tangal Lahir:</label>
                                <b-form-input v-model="tanggallahir" type="date" placeholder=""></b-form-input>
                            </b-col>
                            <b-col lg="2">
                                <b-form-group label="Jenis Kelamin:" v-slot="{ ariaDescribedby }">
                                <b-form-radio v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="L">Laki-laki</b-form-radio>
                                <b-form-radio v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="P">Perempuan</b-form-radio>
                                </b-form-group>
                            </b-col>
                       </b-row>
                        <b-row>
                            <b-col lg="2">
                                <label>Agama:</label>
                                <b-form-select v-model="agama_selected" :options="agama_options"></b-form-select>
                            </b-col>
                            <b-col lg="2">
                                <label>Pekerjaan:</label>
                                <b-form-select v-model="pekerjaan_selected" :options="pekerjaan_options"></b-form-select>
                            </b-col>
                            <b-col lg="2">
                                <label>Pendidikan:</label>
                                <b-form-select v-model="pendidikan_selected" :options="pendidikan_options"></b-form-select>
                            </b-col>
                            <b-col lg="2">
                                <label>St Perkawinan:</label>
                                <b-form-select v-model="perkawinan_selected" :options="perkawinan_options"></b-form-select>
                            </b-col>
                            <b-col lg="2">
                                <label>Gol Darah:</label>
                                <b-form-select v-model="goldarah_selected" :options="goldarah_options"></b-form-select>
                            </b-col>
                            <b-col lg="2">
                                <label>Negara:</label>
                                <b-form-select v-model="negara_selected" :options="negara_options"></b-form-select>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
                <br>
                 <b-row>
                    <h3>Geografi:</h3>
                </b-row>
                <b-row>
                    <b-col lg="10">
                        <label>Alamat:</label>
                        <b-form-textarea v-model="alamat" size="md" placeholder=""></b-form-textarea>
                    </b-col>
                    <b-col lg="2">
                        <label>Kodepos:</label>
                        <b-form-input v-model="kodepos" type="number" placeholder=""></b-form-input>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col lg="3">
                        <label>Provinsi:</label>
                        <b-form-select v-model="provinsi_selected" :options="provinsi_options"></b-form-select>
                    </b-col>
                    <b-col lg="3">
                        <label>Kabupaten:</label>
                        <b-form-select v-model="kabupaten_selected" :options="kabupaten_options"></b-form-select>
                    </b-col>
                    <b-col lg="3">
                        <label>Kecamatan:</label>
                        <b-form-select v-model="kecamatan_selected" :options="kecamatan_options"></b-form-select>
                    </b-col>
                    <b-col lg="3">
                        <label>Kelurahan:</label>
                        <b-form-select v-model="kelurahan_selected" :options="kelurahan_options"></b-form-select>
                    </b-col>
                </b-row>
                 <br>
                 <b-row>
                    <h3>Informasi Tambahan:</h3>
                </b-row>
                <b-row>
                    <b-col lg="3">
                        <label>No HP/Telepon:</label>
                        <b-form-input v-model="nohp" type="number" placeholder=""></b-form-input>
                    </b-col>
                    <b-col lg="3">
                        <label>No HP/Telepon 2:</label>
                        <b-form-input v-model="nohp2" type="number" placeholder=""></b-form-input>
                    </b-col>
                    <b-col lg="3">
                        <label>Nama Ayah:</label>
                        <b-form-input v-model="namaayah" type="text" placeholder=""></b-form-input>
                    </b-col>
                    <b-col lg="3">
                        <label>Nama Ibu:</label>
                        <b-form-input v-model="namaibu" type="text" placeholder=""></b-form-input>
                    </b-col>
                </b-row>
                <br>
                 <b-row>
                    <h3>Penanggungjawab Pasien:</h3>
                </b-row>
                <b-row>
                    <b-col lg="3">
                        <label>Nama Penanggungjawab:</label>
                        <b-form-input v-model="namapj" type="text" placeholder=""></b-form-input>
                    </b-col>
                    <b-col lg="3">
                        <label>Hubungan Penanggungjawab:</label>
                        <b-form-input v-model="hubunganpj" type="text" placeholder=""></b-form-input>
                    </b-col>
                    <b-col lg="3">
                        <b-form-group label="Jenis Kelamin Penanggungjawab:" v-slot="{ ariaDescribedby }">
                        <b-form-radio v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="L">Laki-laki</b-form-radio>
                        <b-form-radio v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="P">Perempuan</b-form-radio>
                        </b-form-group>
                    </b-col>
                    <b-col lg="3">
                        <label>No HP/Telepon Penanggungjawab:</label>
                        <b-form-input v-model="nohppj" type="number" placeholder=""></b-form-input>
                    </b-col>
                </b-row>
                <b-row>
                     <b-col lg="7">
                        <label>Alamat Penanggungjawab:</label>
                        <b-form-textarea v-model="alamatpj" size="md" placeholder=""></b-form-textarea>
                    </b-col>
                    <b-col lg="2">
                        <label>Tangal Lahir PJ:</label>
                        <b-form-input v-model="tanggallahirpj" type="date" placeholder=""></b-form-input>
                    </b-col>
                    <b-col lg="3">
                        <label>Dibawa dengan:</label>
                        <b-form-select v-model="dibawadengan_selected" :options="dibawadengan_options"></b-form-select>
                    </b-col>
                </b-row>
                 <b-row>
                    <b-col lg="2">
                        <b-form-group
                        label="Rujukan:"
                        v-slot="{ ariaDescribedby }"
                        >
                            <b-form-radio-group
                                id="radio-slots"
                                v-model="rujukan_selected"
                                :options="rujukan_options"
                                :aria-describedby="ariaDescribedby"
                                name="rujukan"
                            ></b-form-radio-group>
                        </b-form-group>
                    </b-col>
                    <b-col lg="2">
                        <label>Dokter Pengirim:</label>
                        <b-form-input v-model="dokterpengirim" type="text" placeholder=""></b-form-input>
                    </b-col>
                    <b-col lg="5">
                        <label>Alamat Dokter Pengirim:</label>
                        <b-form-textarea v-model="alamatdokterpengirim" size="md" placeholder=""></b-form-textarea>
                    </b-col>
                    <b-col lg="3">
                        <label>Diagnosis:</label>
                        <b-form-select v-model="diagnosis_selected" :options="diagnosis_options"></b-form-select>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col lg="2">
                        <b-form-group
                        label="Kasus::"
                        v-slot="{ ariaDescribedby }"
                        >
                            <b-form-radio-group
                                id="radio-slots"
                                v-model="kasus_selected"
                                :options="kasus_options"
                                :aria-describedby="ariaDescribedby"
                                name="kasus"
                            ></b-form-radio-group>
                        </b-form-group>
                    </b-col>
                    <b-col lg="10">
                        <label>Deskripsi Kasus:</label>
                        <b-form-textarea v-model="deskripsikasus" size="md" placeholder=""></b-form-textarea>
                    </b-col>
                </b-row>
                </b-container>
            </b-card>
            <br>
            <b-card bg-variant="light">
               <b-container fluid>
                <b-row>
                    <h3>Pendaftaran ke Poli:</h3>
                </b-row>
                <b-row>
                    <b-col lg="2">
                        <label>Tanggal Daftar:</label>
                        <b-form-input v-model="tanggallahir" type="date" placeholder=""></b-form-input>
                    </b-col>
                    <b-col lg="2">
                        <label>Rawat Jalan / Inap:</label>
                        <b-form-select v-model="rajalranap_selected" :options="rajalranap_options"></b-form-select>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col lg="4">
                        <label>Poli Tujuan:</label>
                        <b-form-select v-model="poli_selected" :options="poli_options"></b-form-select>
                    </b-col>
                    <b-col lg="2">
                        <label>Kelas:</label>
                        <b-form-select v-model="kelas_selected" :options="kelas_options"></b-form-select>
                    </b-col>
                    <b-col lg="4">
                        <label>Kamar:</label>
                        <b-form-select v-model="kamar_selected" :options="kamar_options"></b-form-select>
                    </b-col>
                    <b-col lg="2">
                        <label>Nomor Bed:</label>
                        <b-form-select v-model="nobed_selected" :options="nobed_options"></b-form-select>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col lg="4">
                        <label>Dokter Pemeriksa / DPJP:</label>
                        <b-form-select v-model="dpjp_selected" :options="dpjp_options"></b-form-select>
                    </b-col>
                    <b-col lg="4">
                        <label>Pembayaran:</label>
                        <b-form-select v-model="pembayaran_selected" :options="pembayaran_options"></b-form-select>
                    </b-col>
                </b-row>
               </b-container>
            </b-card>
            </div>
    </div>
</template>

<script src="./Registrasi.js"></script>