<template>
    <div class="DisplayPemanggil">
        
        <div class="content" style="margin-top:80px;margin-right:-40px;">
            <b-container fluid>
                <b-row>
                    <b-col lg="12">
                        <b-jumbotron bg-variant="success" text-variant="white" border-variant="dark">

                        </b-jumbotron>
                    </b-col>
                </b-row>
                <b-row>
                     <b-col lg="6">
                        <b-jumbotron bg-variant="info" text-variant="white" border-variant="dark">
                            <b-row>
                                <b-col lg="6">
                                    <b-jumbotron>
                                        <div class="headerpemanggil">
                                            No Antrian
                                        </div>
                                        <br>
                                        <div class="contentpemanggil">
                                            {{ noantrian1 }}
                                        </div>
                                    </b-jumbotron>
                                </b-col>
                                <b-col lg="6">
                                    <b-jumbotron>
                                        <div class="headerpemanggil">
                                            Ruangan 
                                        </div>
                                        <br>
                                        <div class="contentpemanggil">
                                            {{ noruangan1 }}
                                        </div>
                                    </b-jumbotron>
                                </b-col>
                            </b-row>
                        </b-jumbotron>
                     </b-col>
                     <b-col lg="6">
                         <b-jumbotron bg-variant="info" text-variant="white" border-variant="dark">
                             <b-row>
                                <b-col lg="6">
                                    <b-jumbotron>
                                        <div class="headerpemanggil">
                                            No Antrian
                                        </div>
                                        <br>
                                        <div class="contentpemanggil">
                                            {{ noantrian2 }}
                                        </div>
                                    </b-jumbotron>
                                </b-col>
                                <b-col lg="6">
                                    <b-jumbotron>
                                        <div class="headerpemanggil">
                                            Ruangan
                                        </div>
                                        <br>
                                        <div class="contentpemanggil">
                                            {{ noruangan2 }}
                                        </div>
                                    </b-jumbotron>
                                </b-col>
                            </b-row>
                        </b-jumbotron>
                     </b-col>
                </b-row>
                <b-row>
                     <b-col lg="6">
                         <b-jumbotron bg-variant="info" text-variant="white" border-variant="dark">
                             <b-row>
                                <b-col lg="6">
                                    <b-jumbotron>
                                        <div class="headerpemanggil">
                                            No Antrian
                                        </div>
                                        <br>
                                        <div class="contentpemanggil">
                                            {{ noantrian3 }}
                                        </div>
                                    </b-jumbotron>
                                </b-col>
                                <b-col lg="6">
                                    <b-jumbotron>
                                        <div class="headerpemanggil">
                                            Ruangan
                                        </div>
                                        <br>
                                        <div class="contentpemanggil">
                                            {{ noruangan3 }}
                                        </div>
                                    </b-jumbotron>
                                </b-col>
                            </b-row>
                        </b-jumbotron>
                     </b-col>
                     <b-col lg="6">
                         <b-jumbotron bg-variant="info" text-variant="white" border-variant="dark">
                             <b-row>
                                <b-col lg="6">
                                    <b-jumbotron>
                                        <div class="headerpemanggil">
                                            No Antrian
                                        </div>
                                        <br>
                                        <div class="contentpemanggil">
                                            {{ noantrian4 }}
                                        </div>
                                    </b-jumbotron>
                                </b-col>
                                <b-col lg="6">
                                    <b-jumbotron>
                                        <div class="headerpemanggil">
                                            Ruangan
                                        </div>
                                        <br>
                                        <div class="contentpemanggil">
                                            {{ noruangan4 }}
                                        </div>
                                    </b-jumbotron>
                                </b-col>
                            </b-row>
                        </b-jumbotron>
                     </b-col>
                </b-row>
            </b-container>
        </div>
        <iframe src="0.wav" allow="autoplay" id="audio"></iframe>
        <audio id="player" autoplay loop>
            <source src="0.wav" type="audio/wav">
        </audio>
    </div>
</template>

<script src="./DisplayPemanggil.js"></script>

<style scoped>
    .headerpemanggil{
        font-size: 50px;
         color: green;
         text-align: center;
    }

    .contentpemanggil{
         font-size: 100px;
         color: red;
         text-align: center;
    }
</style>