<template>
    <b-container>
        <b-row style="height:680px;" align-v="center">
            <b-col lg="3"></b-col>
            <b-col lg="6"><center>
                <div>
                    <b-card
                        title="Login"
                        img-top
                        tag="article"
                        style="max-width: 25rem;text-align:center;background-color: #d9e0f59e;"
                        class="mb-2"
                    >
                        <b-input-group>
                            <b-input-group-prepend>
                                <span class="input-group-text"><i class="fa fa-user fa-md"></i></span>
                            </b-input-group-prepend>
                            <b-form-input v-model="email" class="LoginInput" type="email" size="md" placeholder="Email">
                            </b-form-input>
                        </b-input-group>
                        <b-input-group style="margin-top:5px;">
                            <b-input-group-prepend>
                                <span class="input-group-text"><i class="fa fa-key fa-md"></i></span>
                            </b-input-group-prepend>
                            <b-form-input v-model="password" class="LoginInput" type="password" size="md" name="password" id="password" placeholder="Password">
                            </b-form-input>
                        </b-input-group>
                         <b-button v-on:click="login()" style="float:right;margin-top:10px;" size="md" variant="primary">Login</b-button>
                    </b-card>
                    </div></center>
            </b-col>
            <b-col lg="3"></b-col>
        </b-row>
    </b-container>
</template>

<script src="./Login.js"></script>

<style>
body {
    background-color: #000000d1;
}
</style>