<template>
    <footer>
        <div class="container-fluid bg-dark">
            <div class="row p-3">
                <div class="text-center text-white font-weight-bold">
                    Copyright © 2021 SIMRS - Develop By Noob Team
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    // //import content loader
    // import {
    //     ListLoader
    // } from 'vue-content-loader'

    // //import axios
    // import axios from 'axios'

    export default {
        name: 'Footer'
        // components: {
        //     //loader component
        //     ListLoader
        // },
        // data() {
        //     return {
        //         tags: []
        //     }
        // },
        // created() {
        //     axios.get('/api/tag').then(response => {
        //         this.tags = response.data.data.data
        //     });
        // }
    }
</script>.   