<template>
<div>
  Selected Item:  {{selectedItem && selectedItem.ProductID}} , {{selectedItem && selectedItem.ProductName}}
    <Grid
        ref="grid"
        :style="{height: '520px'}"
        :data-items="items"
        :selected-field="selectedField"
        :columns="columns"
        @rowclick="onRowClick">
    </Grid>
</div>
</template>
<script>
import { Grid } from '@progress/kendo-vue-grid';

export default {
    components: {
        'Grid': Grid
    },
    data: function () {
        return {
            selectedField: 'selected',
            selectedID: 1,
            products: [],
            columns: [
                { field: 'ProductID', title: 'No', width: '50px' },
                { field: 'ProductName', title: 'Nama Pasien' },
                { field: 'UnitPrice', filter: 'numeric', title: 'Nomor Kamar' },
                { field: 'UnitsInStock', title: 'Nomor Bed' }
            ]
        };
    },
    computed: {
        items () {
            return this.products.map((item) => ({ ...item, selected: item.ProductID === this.selectedID }));
        },
        selectedItem () {
            return this.products.find((item) => item.ProductID === this.selectedID);
        }
    },
    methods: {
        onRowClick (event) {
            this.selectedID = event.dataItem.ProductID;
        },
        createRandomData(count) {
            const productNames = ['Pasien 1', 'Pasien 20', 'Pasien 35', ];
            const unitPrices = [12.5, 10.1, 5.3, 7, 22.53, 16.22, 20, 50, 100, 120]

            return Array(count).fill({}).map((_, idx) => ({
                ProductID: idx + 1,
                ProductName: productNames[Math.floor(Math.random() * productNames.length)],
                UnitPrice: unitPrices[Math.floor(Math.random() * unitPrices.length)],
                UnitsInStock: Math.floor(Math.random() * 10)
            }));
        }
    },
     mounted() {
        this.products = this.createRandomData(100);
    }
};

</script>

<style>
.k-grid td.k-state-selected, .k-grid tr.k-state-selected > td {
    background-color: rgb(155 203 253 / 91%);
}
</style>