<template>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="border-bottom: 5px solid #ff0000">
        <div class="container-fluid">
            <router-link :to="{name: 'home'}" class="navbar-brand"><i style="margin-right:8px;" class="fas fa-hospital fa-lg"></i>Rumah Sakit Embuh Ora Ngerti</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</template>

<script>
    export default {
        name: 'Header'
    }
</script>

<style scoped>
.bg-dark {
    background-color: #2a2a2e !important;
}
</style>
