<template>
  <sidebar-menu
    v-model="collapsed"
    style="margin-top: 60px"
    :menu="menu"
    :collapsed="myCollapse"
    :width="myWidth"
    @click="onToggleCollapse"
  />
</template>

<script>
import axios from "axios";
import VueCookies from "vue-cookies";

var user = "rm";
var menu1 = "";
if (user == "rm") {
  menu1 = require("../router/menu/rekam_medik.json");
} else if (user == "perawat") {
  menu1 = require("../router/menu/perawat.json");
} else if (user == "dokter") {
  menu1 = require("../router/menu/dokter.json");
} else if (user == "farmasi") {
  menu1 = require("../router/menu/farmasi.json");
} else if (user == "kasir") {
  menu1 = require("../router/menu/kasir.json");
}
// else {
//   menu1 = require("../router/menu/perawat.json")
// }

export default {
  data() {
    return {
      menu: menu1,
      myCollapse: false,
      myWidth: "280px",
      tesa:"aaabs",
      collapsed: false
    };
  },
  methods: {
    onToggleCollapse () {
      console.log('onToggleCollapse')
    },
    getMenuByRole() {
      axios
        .get("http://localhost:8080/api/it/menu/get-menu-by-role?id_role=" + VueCookies.get("id_role"),
              {
                'headers': {
                  'Authorization': 'Bearer '+ VueCookies.get("token")
                }
              }
            )
        .then((response) => {
          // this.info = response.data[0]["namapasien"];
          console.log(response.data);
          this.menu = response.data
        });
    },
  },
  created() {
    this.getMenuByRole();
  }
};
</script>

<style>
.v-sidebar-menu.vsm_collapsed .vsm--link_level-1.vsm--link_hover .vsm--icon,
.v-sidebar-menu.vsm_collapsed .vsm--link_level-1:hover .vsm--icon {
  background-color: #f00;
}
body {
  background-color: #98a1a5d1;
}

#content {
  padding-left: 290px;
  transition: 0.3s ease;
}
#content.collapsed {
  padding-left: 65px;
}
#content.onmobile {
  padding-left: 65px;
}
</style>

